Repository astrochemx/astrorepo-new, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸš¨: workflows, ğŸ“¦: biome-config, ğŸ“¦: commitlint-config, ğŸ“¦: eslint-config, ğŸ“¦: markdownlint-config, ğŸ“¦: oxlint-config, ğŸ“¦: prettier-config, ğŸ“¦: tsdown-config, ğŸ“¦: typescript-config

.github/labeler.yml:

# See: https://github.com/actions/labeler

'ğŸš¨: workflows':
  - .github/workflows/**

'ğŸ“¦: biome-config':
  - packages/biome-config/**

'ğŸ“¦: commitlint-config':
  - packages/commitlint-config/**

'ğŸ“¦: eslint-config':
  - packages/eslint-config/**

'ğŸ“¦: markdownlint-config':
  - packages/markdownlint-config/**

'ğŸ“¦: oxlint-config':
  - packages/oxlint-config/**

'ğŸ“¦: prettier-config':
  - packages/prettier-config/**

'ğŸ“¦: tsdown-config':
  - packages/tsdown-config/**

'ğŸ“¦: typescript-config':
  - packages/typescript-config/**

chore: 🆙 upd
  .github/dependabot.disabled.yml
Labels: none

chore: 🆙 upd
  .vscode/extensions.essentials.json
  apps/docs-pwa/.vscode/launch.json
  apps/docs-pwa/astro.config.ts
  apps/docs-pwa/package.json
  apps/docs-pwa/public/robots.txt
  apps/docs-pwa/pwa-assets.config.ts
  apps/docs-pwa/src/astro-jsx.d.ts
  apps/docs-pwa/src/components/custom/PWAHead.astro
  apps/docs-pwa/src/components/custom/ReloadPrompt/ReloadPrompt.astro
  apps/docs-pwa/src/components/custom/ReloadPrompt/pwa.ts
  apps/docs-pwa/src/components/custom/ScrollIndicator.astro
  apps/docs-pwa/src/components/starlight/Head.astro
  apps/docs-pwa/src/components/starlight/Header.astro
  apps/docs-pwa/src/env.d.ts
  apps/docs-pwa/src/pwa.ts
  apps/docs-pwa/vite-env.d.ts
  apps/docs-pwa/webmanifest.json
  package.json
  pnpm-lock.yaml
Labels: none

chore: 🆙 upd
  .pnpmfile.cjs
  knip.config.ts
  package.json
  packages/commitlint-config/package.json
  packages/commitlint-config/src/main.ts
  packages/common/package.json
  packages/common/src/types/pnpm.ts
  packages/cspell-config/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/javascript.ts
  packages/eslint-config/src/configs/perfectionist.ts
  packages/eslint-config/src/modules.ts
  packages/eslint-config/src/utils.old.ts
  packages/eslint-config/src/utils.ts
  packages/prettier-config/package.json
  packages/prettier-config/prettier.config.mjs
  packages/stylelint-config/package.json
  packages/tsdown-config/package.json
  packages/tsdown-config/src/main.ts
  packages/typescript-config/package.json
  patches/rehype-pretty-code@0.14.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ğŸ“¦: commitlint-config, ğŸ“¦: eslint-config, ğŸ“¦: prettier-config, ğŸ“¦: tsdown-config, ğŸ“¦: typescript-config

chore: 🆙 upd
  packages/eslint-config/package.json
  packages/eslint-config/scripts/typegen.ts
Labels: ğŸ“¦: eslint-config

chore: 🆙 upd
  packages/eslint-config/TODO.md
  packages/eslint-config/scripts/typegen.ts
  packages/eslint-config/src/configs/html.ts
  packages/eslint-config/src/configs/sonar.ts
  packages/eslint-config/src/factory.ts
Labels: ğŸ“¦: eslint-config

up
  .nvmrc
  .tool-versions
  .vscode/extensions.json
  .vscode/settings.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
  mise.toml
  package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/cspell-config/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/index.ts
  packages/eslint-config/src/configs/pnpm.ts
  packages/eslint-config/src/configs/react.ts
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/factory.ts
  packages/eslint-config/src/types.ts
  packages/eslint-config/src/utils.ts
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/tsdown-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ğŸ“¦: commitlint-config, ğŸ“¦: eslint-config, ğŸ“¦: prettier-config, ğŸ“¦: tsdown-config

upd
  .env.dev
  .ncurc.cjs
  .nvmrc
  .vscode/settings.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
  eslint.config.pkg.ts
  eslint.config.src.ts
  mise.toml
  package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/common/src/index.ts
  packages/cspell-config/package.json
  packages/eslint-config/eslint.config.ts
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/package-json.ts
  packages/eslint-config/src/configs/pnpm.ts
  packages/eslint-config/src/configs/tailwindcss.ts
  packages/eslint-config/src/configs/vue.ts
  packages/eslint-config/src/utils.ts
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/tsdown-config/package.json
  packages/typescript-config/package.json
  patches/prettier-plugin-tailwindcss@0.6.14.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  taze.config.ts
Labels: ğŸ“¦: commitlint-config, ğŸ“¦: eslint-config, ğŸ“¦: prettier-config, ğŸ“¦: tsdown-config, ğŸ“¦: typescript-config

upd
  .npmrc
  .pnpmfile.cjs
  dotfiles/preferences/vscode/data/user-data/User/settings.json
  dotfiles/scripts/node/file-nesting-config-generator.mjs
  dotfiles/scripts/node/file-nesting-config-readme.md
  notes/security.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  puppeteer.config.cjs
Labels: none

upd
  .pnpmfile.cjs
  package.json
  scripts/install-husky.mjs
  scripts/update-trusted-deps.mjs
Labels: none

upd
  .vscode/extensions.essentials.json
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.all.json
Labels: none

upd
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.all.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  .husky/commit-msg
  .husky/pre-commit
  packages/eslint-config/package.json
Labels: ğŸ“¦: eslint-config

upd
  package.json
Labels: none

upd
  pnpm-lock.yaml
Labels: none

upd
  dotfiles/preferences/vscode/data/user-data/User/settings.json
  simple-git-hooks.mjs
Labels: none

upd
  .vscode/extensions.json
  .vscode/settings.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.all.json
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.all.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

up
  package.json
  packages/commitlint-config/package.json
  packages/common/package.json
  packages/cspell-config/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  packages/tsdown-config/package.json
  packages/typescript-config/package.json
Labels: ğŸ“¦: commitlint-config, ğŸ“¦: eslint-config, ğŸ“¦: prettier-config, ğŸ“¦: tsdown-config, ğŸ“¦: typescript-config

up
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

upd
  package.json
  scripts/husky-installer.mjs
  scripts/lockfile-checker.mjs
  scripts/trusted-deps-updater.mjs
Labels: none

upd
  .vscode/extensions.json
  dotfiles/preferences/vscode/.vscode/extensions.all.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  mise.toml
  pnpm-lock.yaml
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.all.json
  dotfiles/preferences/vscode/.vscode/extensions.json
  mise.toml
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.all.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  pnpm-workspace.yaml
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.all.json
Labels: none

upd
  dotfiles/preferences/vscode/data/user-data/User/settings.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.all.json
Labels: none

upd
  dotfiles/preferences/vscode/.vscode/extensions.all.json
Labels: none
